<!-- @{
   Layout="_Layout";
}; -->

<!-- <h1>sono la view per Action Index</h1> -->

<h1>Benvenuto su MyCorse</h1>    

<div>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae veniam sit, reiciendis reprehenderit fugit at vero quos nam, odio amet illum suscipit dicta consectetur labore quasi neque soluta veritatis id!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae veniam sit, reiciendis reprehenderit fugit at vero quos nam, odio amet illum suscipit dicta consectetur labore quasi neque soluta veritatis id!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae veniam sit, reiciendis reprehenderit fugit at vero quos nam, odio amet illum suscipit dicta consectetur labore quasi neque soluta veritatis id!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae veniam sit, reiciendis reprehenderit fugit at vero quos nam, odio amet illum suscipit dicta consectetur labore quasi neque soluta veritatis id!
</div>

<!-- alt + shift x multicursore -->